.body{
  margin: auto;
  background: #3174ad;
}
.App {
  text-align: center;
  background: #3174ad;
  height: 1000;
}

.input{
  display: flex;
  flex-direction: column;
}

.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .input {
    flex-direction: row;
    margin: 10px;

  }
  .calendar{

  }

}